*{
	margin: 0;
	padding: 0;
}
body{
	min-width: 1200px;
}
.cultureTitle{
	width: 100%;
    height: 100px;
    text-align: center;
    line-height: 150px;
    color: #4DC8EC;
    font-size: 34px;
}
.cultural{
	width: 78%;
	height: auto;
	padding:20px 1%;
	margin: 50px auto;
	box-shadow: 0 0 10px #4DC8EC;
    column-width:302px;
}
.culturalImg{
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}
.culturalImg img{
	width: 100%;
	border-radius: 5px;transition: 1.2s;
}
.culturalImg:hover img{
	transform: scale(1.2);
}
.culturalContent{
	width: 90%;
    height: auto;
    box-shadow: 0 0 10px #4DC8EC inset;
    margin: 5% 0;
    padding: 5%;
    border-radius: 5px;
    line-height: 30px;
    text-indent: 1em;
    color: #4DC8EC;
    font-weight: bold;
}
